<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write new Chat</title>
  </head>
  <body>
    <form action="/chats" method="POST">
      <input type="text" placeholder="who are you" name="from" />
      <br />
      <textarea name="msg">write you message here</textarea>
      <br />
      <input type="text" placeholder="add receive" name="to" />
      <br />
      <button>create chat</button>
    </form>
  </body>
</html>
