<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/posts" method="POST">
      <input type="text" name="name" placeholder="Post Name" required />
      <textarea
        name="Description"
        placeholder="Post Description"
        required
      ></textarea>
      <button type="submit">Add Post</button>
    </form>
  </body>
</html>
